@model ShoppingApp_Models.ViewModel.ProductVM

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUpdate" asp-controller="Product" method="post" enctype="multipart/form-data">
            <div>
                <h1>@((Model.Product == null || Model.Product.Id == 0) ? "Create Product" : "Update Product") </h1>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <input type="hidden" asp-for="Product.ImageUrl" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input style="width:500px" asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <textarea style="width:500px" asp-for="Product.Description" class="form-control"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input style="width:500px" asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Category</label>
                <select style="width:500px" asp-for="Product.CategoryId" asp-items="@Model.Categories" class="form-control">
                    <option selected disabled>--- Select Category ---</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image</label>
                <input style="width:500px" type="file" name="file" id="emptyfile" class="form-select" />
            </div>
            <div style="margin-top:10px" class="form-group">
                @if (Model.Product == null || Model.Product.Id == 0)
                {
                    <button style="margin-top:10px" onclick="return ValidEmptyfile()" type="submit" value="Save" class="btn btn-primary">Create</button>
                }
                else
                {
                    <button style="margin-top:10px" onclick="return ValidEmptyfile()" type="submit" value="Save" class="btn btn-primary">Update</button>
                }
                <a style="margin-top:10px" class="btn btn-primary" asp-action="Index" asp-controller="Product">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function ValidEmptyfile(){
            if (document.getElementById("emptyfile").value == ""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please Upload Image!'                  
                });
                return false;
            }
            return true;
        }
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
}

